.l-wrapper{
    display: flex;
    flex-direction: row;
}

main{
}

.header.primary .l-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav.primary > ul{
    display: flex;
    flex-direction: row;
}